<div class="myCarousel" class="carousel  slide" >
	<!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>   
	<section class="carousel-inner hidden-sm">
		<div class="active item"><img src="assets/carousel/seattle_skyline.jpg" alt="">
			<div class="carousel-caption">
                  <h3>Second slide label</h3>
                  <p>Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
                </div>
		</div>
		<div class="item"><img src="assets/carousel/jewelry_workshop.jpg" alt="">
			<div class="carousel-caption">
                  <h3>Second slide label</h3>
                  <p>Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
                </div>
		</div>
		<div class="item"><img src="assets/carousel/painting_workshop.jpg" alt="">
			<div class="carousel-caption">
                  <h3>Second slide label</h3>
                  <p>Aliquam sit amet gravida nibh, facilisis gravida odio.</p>
                </div>
		</div>
		<div class="item"><img src="assets/carousel/pottery_workshop.jpg" alt=""></div>
		<div class="item"><img src="assets/carousel/quicksketch_workshop.jpg" alt=""></div>
	</section> <!-- carousel innter -->

	<!-- Carousel nav -->
        <a href="#myCarousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#myCarousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
</div> <!-- myCarousel -->